@font-face {
  font-family: mtnBrighterSans;
  src: url(../media/MTNBrighterSans_ExtraLight-s.p.0pexw7vr9yda8.ttf)
    format('truetype');
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: mtnBrighterSans;
  src: url(../media/MTNBrighterSans_Light-s.p.0a_ycm900~l69.ttf)
    format('truetype');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: mtnBrighterSans;
  src: url(../media/MTNBrighterSans_Regular-s.p.0fnla~9.7w9wt.ttf)
    format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: mtnBrighterSans;
  src: url(../media/MTNBrighterSans_Medium-s.p.0ol6kf.wg2jka.ttf)
    format('truetype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: mtnBrighterSans;
  src: url(../media/MTNBrighterSans_Bold-s.p.0nha1ep0esciu.ttf)
    format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: mtnBrighterSans;
  src: url(../media/MTNBrighterSans_ExtraBold-s.p.0a-1a1kb05ef-.ttf)
    format('truetype');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: mtnBrighterSans Fallback;
  src: local(Arial);
  ascent-override: 88.31%;
  descent-override: 29.32%;
  line-gap-override: 0%;
  size-adjust: 110.51%;
}
.mtnbrightersans_9a66cca2-module___YUxea__className {
  font-family:
    mtnBrighterSans,
    mtnBrighterSans Fallback;
}
.mtnbrightersans_9a66cca2-module___YUxea__variable {
  --mtn-brighter-sans: 'mtnBrighterSans', 'mtnBrighterSans Fallback';
}
